/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #a4eb25;
  --second-background: #1c2028;
  --write-color: #a4a7aa;
  --main-transition: 0.4s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
  background-color: #0f1318;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  min-width: 80%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.main-title{
  text-transform: uppercase;
  margin: 0 auto 80px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 25px;
  color: white;
  background-color: var(--second-background);
  font-size: 30px;
  width: fit-content;
  padding: 10px 20px;
  position: relative;
  transition: var(--main-transition);
}
#btn{
  background-color: var(--second-background);
  position: fixed;
  border: 2px solid var(--main-color);
  color: white;
  border-radius: 50%;
  font-size: 30px;
  bottom: 30px;
  right:30px;
  padding: 5px 12px;
  /* display: none; */
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease, visibility 0.4s ease;
  z-index: 999;
}
#btn:hover{
  background-color: var(--main-color);
}
#btn.show {
  opacity: 1;
  visibility: visible;
}
#btn i{
  color: var(--main-color);
}
#btn:hover i{
  color: var(--second-background);
}
.bt{
  transform: translateY(10px);
}
.item {
  opacity: 0;
  transition: all 1.5s ease;
  visibility: hidden;
  pointer-events: none;
}

.from-right {
  transform: translateX(100px);
}

.from-left {
  transform: translateX(-100px);
}

.show {
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
  pointer-events: auto;
}
/* End Global Rules */
/* strat header */
.header{
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0f1318;
}
.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container img{
  max-width: 100%;
  width: 150px;
}
.header .main-nav{
  display: flex;
}
.header .main-nav .active li{
  border-bottom:3px solid #a4eb25;
  transition: var(--main-transition);
}
.header .main-nav .active:hover li{
  border-bottom: 3px solid white;
}
.header .main-nav a{
  display: block;
  padding: 0 40px;
  color: var(--main-color);
  font-weight: bold;
  text-transform: uppercase;
  transition: var(--main-transition);
}
.header .main-nav a:hover{
  color: white;
}
@media (max-width: 991px) {
  .header{
    margin-bottom: 100px;
  }
  .header .container{
    display: flex;
    flex-direction: column;
  }
  .header .container img{
    width: 100px;
  }
  .header .main-nav a{
    font-size: 15px;
  }
}
@media (max-width: 767px){
  .header .main-nav a{
    padding: 0 20px;
    font-size: 11.5px;
  }
}
/* End header */
/* strat loading */
.loading{
  position: relative;
  padding-bottom: var(--main-padding-bottom);
  margin-top: 11%;
}
.loading .container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.loading .container .text{
  font-size: 25px;
  font-weight: bold;
}
.loading .container .text h2{
  margin: 0;
  color: white;
}
.loading .container .text h1{
  margin: 0;
  color: white;
}
.loading .container .text h1 span{
  color: var(--main-color);
}
.loading .text p{
  margin: 0 0 20px 0 ;
  font-size: 28px;
  color: var(--write-color);
}
.loading .text a{
  padding: 5px 40px;
  background-color: var(--second-background);
  color: white;
  border-radius: 50px;
  border: 2px solid var(--main-color);
  transition: var(--main-transition);
}
.loading .text a:hover{
  background-color: var(--main-color);
  color: var(--second-background);
}
.loading .image img{
  border-radius: 50%;
  background-color: var(--second-background);
}
@media (max-width: 991px) {
  .loading .container .text{
    font-size: 20px;
  }
  .loading .image img{
    width: 100%;
  }
}
@media (max-width: 767px){
  .loading .container{
    flex-direction: column-reverse;
  }
  .loading .image{
    display: contents;
  }
  .loading .image img{
    width: 60%;
  }
  .loading .text{
    text-align: center;
  }
}
/* End loading */
/* strat About */
.about{
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.about .container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about .container img{
  border-radius: 10%;
}
.about .container .text{
  width: 50%;
  font-size: 20px;
  color: white;
}
.about .text h2{
  margin: 0;
  font-weight: bold;
}
.about .text p{
  margin: 0 0 30px 0;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: var(--write-color);
}
.about .text a{
  padding: 10px 40px;
  background-color: #1c2028;
  color: white;
  border: 2px solid var(--main-color);
  border-radius: 50px;
  font-weight: bold;
  transition: var(--main-transition);
}
.about .text a:hover{
  background-color: var(--main-color);
  color: var(--second-background);
}
@media (max-width: 991px){
  .about .container img{
    width: 90%;
  }
}
@media (max-width: 767px){
  .about .container{
    flex-direction: column;
  }
  .about .container .img{
    display: contents;
  }
  .about .container .text{
    text-align: center;
    width: 105%;
  }
}
/* End About */
/* strat Skills */
.skills{
  position: relative;
  padding-top: var(--main-padding-top);
}
.skills .container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills .container .sub{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skills .container .sub .box{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  border: 1px solid var(--main-color);
  border-radius: 20px;
  padding: 5px 50px;
  margin-right: 20px;
  background-color: var(--second-background);
}
.skills .container .sub .box i{
  font-size: 50px;
  margin-right: 20px;
}
.skills .container .sub .box p{
  margin: 0;
  color: white;
  font-weight: bold;
}
@media (max-width: 767px) {
  .skills .container{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
/* End Skills */
/* strat projects */
.project{
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.project .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.project .container .box{
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: rgba(164, 167, 170, 0.31) 0px 5px 15px 0px;
  background-color: var(--second-background);
}
.project .box img{
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.project .box p{
  padding: 10px;
  margin: 0;
  color: var(--write-color);
  font-weight: bold;
}
.project .box a{
  display: block;
  width: fit-content;
  margin: 10px;
  padding: 5px 30px;
  background-color: var(--main-color);
  color: var(--second-background);
  border-radius: 50px;
  font-weight: bold;
  border: 2px solid #0f1318;
  transition: var(--main-transition);
}
.project .box a:hover{
  background-color: #0f1318;
  color: var(--main-color);
  border: 2px solid var(--main-color);
}
.project  a{
  display: block;
  width: fit-content;
  padding: 10px 40px;
  margin: 60px auto 0;
  background-color: var(--second-background);
  color: white;
  font-weight: bold;
  border-radius: 50px;
  border: 2px solid var(--main-color);
  transition: var(--main-transition);
}
.project  a:hover{
  background-color: var(--main-color);
  color: var(--second-background);
}
.project .box .icons{
  display: flex;
  padding: 10px;
}
.project .box .icons i{
  margin-right: 10px;
  font-size: 20px;
}
@media (max-width: 767px) {
  .bt{
  transform: translateY(0px);
  }
}
/* End projects */
/* start contact */
.contact{
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.contact .container .box{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
}
.contact .box .content{
  background-color: black;
  color: var(--write-color);
  padding: 30px;
  border-radius: 20px;
}
.contact .box .content .details{
  margin-bottom: 20px;
}
.contact .box .content .social-icon{
  margin-top: 50px;
}
.contact .box .content .social-icon ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .box .content .social-icon ul a{
  padding: 0 20px;
  color: var(--main-color);
  font-size: 20px;
  transition: var(--main-transition);
}
.contact .box .content .social-icon ul a:hover{
  color: white;
}
.contact .box .inputs{
  background-color: var(--second-background);
  width: 100%;
  padding: 25px;
  border-radius: 20px;
}
.contact .box .inputs form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact .box .inputs form .main-input{
  display: block;
  margin-bottom: 30px;
  color: #0f1318;
  font-weight: bold;
  padding: 20px;
  border: 1px solid #0f1318;
  width: 70%;
  border-radius: 15px;
}
.contact .box .inputs form .main-input:focus{
  outline: none;
}
.contact .box .inputs form textarea.main-input{
  background-color: white;
  color: #0f1318;
  font-weight: bold;
  padding: 20px;
  border: none;
  border: 1px solid #0f1318;
  display: flex;
  border-radius: 15px;
  resize: none;
  height: 150px;
}
.contact .box .inputs form [type="submit"]{
  display: block;
  padding: 15px;
  width: 50%;
  border: 2px solid #0f1318;
  border-radius: 15px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  color: var(--second-background);
  background-color: var(--main-color);
  transition: var(--main-transition);
}
.contact .box .inputs form [type="submit"]:hover{
  background-color: #0f1318;
  color: var(--main-color);
  border: 2px solid var(--main-color);
}
@media (max-width: 991px) {
  .contact .container .box{
    display: flex;
    flex-direction: column-reverse;
  }
  .contact .box .content{
    width: 100%;
  }
}
/* End contact */
/* strat footer */
.footer{
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}
.footer span{
  font-weight: bold;
  color: var(--main-color);
}
@media (max-width: 767px){
  .footer{
    margin: auto;
    font-size: 15px;
  }
}
/* End footer */